* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(221, 119, 119);
}

.osn-container {
    margin: 0 auto;
    max-width: 560px;
    max-height: 645px;
    background-color: aqua;
}

.container {
    margin-top: 100px;
}

#counter {
    font-size: 24px;
    margin-bottom: 20px;
}

#clickButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

