body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	background-color: blue;
	max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	width: 150px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}



/* Общие стили для всех устройств */
body {
    font-family: Arial, sans-serif;
    background-color: #a01e1e;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Медиа-запрос для телефонов */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 600px;
    }
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
}

/* Медиа-запрос для ПК */
@media only screen and (min-width: 1025px) {
    .container {
        max-width: 1000px;
    }
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
    }
}