
/* Общие стили для всех устройств */
body {
    font-family: Arial, sans-serif;
    background-color: #a01e1e;
    margin: 0;
    padding: 0;
	
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.panel {
	background-color: yellow;
}

.text-pole {
	height: 80px;
	background-color: yellow;
}

.cont {
	border-top-color: red;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	height: 500px;
	background-color: rgb(56, 56, 56);
}

.nav-top {
	margin: 0 10px 0 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.text {
	width: calc(30% - 2px); /* Увеличение ширины блока text */
    border-radius: 10px;
    padding: 20px; /* Увеличение отступа внутри блока text */
    margin-right: 10px; /* Увеличение отступа между блоками */
    margin-bottom: 10px; /* Увеличение отступа между блоками */
    background-color: rgba(85, 85, 85, 0.329);
}

.t1 {
	color: rgb(245, 67, 67);
}

.block-image {
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white;
}

.block-image>img {
    width: 30px;
    height: 30px;
    margin-right: 10px; 
}
 


.t2 {
	color: rgb(88, 88, 250);
}

.t3 {
	color: rgb(31, 134, 31);
}




/* Медиа-запрос для телефонов */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        max-width: 600px;
    }
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
}

/* Медиа-запрос для ПК */
@media only screen and (min-width: 1025px) {
    .container {
        max-width: 1000px;
    }
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 18px;
    }
}





@media only screen and (min-width: 768px) {
    .nav-top {
        margin: 0 30px 0 30px;
    }
    .text {
        width: calc(30% - 2px);
    }
}

@media only screen and (min-width: 1024px) {
    .nav-top {
        margin: 0 50px 0 50px;
    }
    .text {
        width: calc(20% - 2px);
    }
}